<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>ホームページ作成</h2>
        <%= form_with model: @homepage, url: user_homepages_path(user_id: @user.id), id: "homepage_form", local: true do |f| %>
          <div class="form-group">
            <%= f.label :title, "タイトル※必須", class: "control-label" %><br>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, "紹介文", class: "control-label" %><br>
            <%= f.text_area :introduction, rows: 10, cols: 30, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :agreement, "同意する", class: "control-label" %>
            <%= f.check_box :agreement %>
          </div>
          <div class="submit-box text-center">
            <%= f.submit "作成" %>
          </div>
        <% end %>
      </div>      
    </div>
  </div>
</div>