<div class="row">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><%= @user.name %>の編集</h2>
      <%= form_with model: @user, local: true do |f| %>
        <div class="col-sm-4 col-sm-offset-1">
          
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name, "名前", class: "control-label" %><br>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
          </div>
          </div>
        </div>
        <p class="text-center"><%= f.submit "更新", class: "btn btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>